.hide {
  display: none;
}

.disable {
  pointer-events: none;
}

.section {
  background: $white;
}

.profile {
  border-radius: 50%;
  height: 100%;
  margin-right: .6rem;
}

.meta {

  a {
    font-size: .75rem;
    height: 25px;
    letter-spacing: .5px;
    margin-right: 1rem;
    text-transform: uppercase;
  }

  .fa-icon {
    font-size: 1rem;
    margin-right: .3rem;
    margin-top: -2px;
  }
}

.info {
  color: $grey;
  font-size: .8rem;
  letter-spacing: .5px;
  margin-bottom: 1rem;
  margin-top: -1rem;
  text-transform: uppercase;

  a {
    display: inline-block;
    margin: 0 .3rem;
  }

  .fa-icon {
    margin-right: 2px;
  }
}

.members {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  .member {
    height: 125px;
    margin: .5rem;
    position: relative;
    width: 125px;

    img {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    .member-label {
      align-items: center;
      background-color: rgba(0,0,0, .7);
      border-radius: 50%;
      color: $white;
      display: flex;
      font-size: .9rem;
      font-weight: bold;
      height: 100%;
      justify-content: center;
      letter-spacing: .5px;
      line-height: 1;
      opacity: 0;
      position: absolute;
      text-align: center;
      text-shadow: 0 0 2px transparentize($black,.5);
      text-transform: uppercase;
      top: 0;
      transition: all 300ms ease;
      width: 100%;
    }

    &:hover .member-label {
      opacity: 1;
    }
  }
}

.game-card {
  position: relative;

  .game-overlay {
    background: linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .8));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .game-hover {
      background: rgba(0,0,0, .5);
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all 300ms ease;
      width: 100%;
    }

    &:hover .game-hover {
      opacity: 1;
    }
  }

  img {
    object-fit: cover;
  }

  .title {
    bottom: .75rem;
    left: 1rem;
    position: absolute;
  }
}
